#home {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 1rem 5%;

  font-size: 2rem;
  text-align: center;
}
#home h1 {
  margin-top: 1rem;
}
hr {
  align-self: center;

  width: 125%;
  height: 0.25rem;

  background: inherit;
}
#home div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 4rem;
}
#home p {
  padding-left: 1rem;
  text-align: justify;
  text-align: center;
}
#home ul {
  margin-top: 1.5rem;
  padding-left: 3rem;
  text-align: left;
}
#home span {
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 65%;
  aspect-ratio: 1 / .75;
  margin-top: 3rem;
  border-radius: 1rem;

  border: 0.25rem solid;
}
#home span:nth-of-type(1) {
  background-image: url("../media/banner1.svg");
}
#home span:nth-of-type(2) {
  background-image: url("../media/banner2.svg");
}
#home span:nth-of-type(3) {
  background-image: url("../media/banner3.svg");
}
#home span:nth-of-type(4) {
  background-image: url("../media/banner4.svg");
}
#home span:nth-of-type(5) {
  background-image: url("../media/banner5.svg");
}
#home span:nth-of-type(6) {
  background-image: url("../media/banner6.svg");
}
#home span:nth-of-type(7) {
  background-image: url("../media/banner7.svg");
}
