#createMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
#createMenu section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#createMenu #iconManager {
  width: 10rem;
  height: 10rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border-radius: 1rem;
  background: rgb(199, 199, 199);

  font-size: 7rem;
}

#createMenu input[type="text"],
#createMenu input[type="number"] {
  width: 10rem;
  height: 2rem;

  padding: 1rem;

  border-radius: 0.5rem;
  background: rgb(233, 233, 233);
  color: black;
}

#createMenu form {
  display: flex;
  flex-direction: column;
}

#createMenu form div {
  display: flex;
  flex-direction: column;
}

#itemList {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;

  width: 95%;
  max-height: 30rem;
  margin-top: 1rem;
  padding: 1rem;

  overflow-y: scroll;
  scrollbar-width: none;

  border-radius: 1rem;
  background: rgb(207, 207, 207);
}
#itemList h1 {
  margin: 1rem;
  font-size: 2rem;
}

.itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 10rem;
  height: 12.5rem;

  border-radius: 1rem;
  background-color: rgb(221, 221, 221);
}
.itemCard i {
  font-size: 4rem;
}
.itemCard h2 {
  width: 8rem;
  height: 2rem;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  text-align: center;
}
.itemCard span {
  width: 8rem;
  height: 2rem;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  text-align: center;
}
