#header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 3.5rem;

  border-bottom: solid 0.125rem transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--mainColor1), var(--mainColor2)) border-box;

  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0);
  transform: translateY(-100%);
  animation: spawnYUpper 1s ease forwards;
}
@keyframes spawnYUpper {
  to {
    transform: translateY(0%);
  }
}

#header div,
#header nav {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}
#header nav:nth-of-type(2) {
  gap: 1rem;
}

#header nav button {
  width: max-content;

  font-size: 1.25rem;
  font-weight: bold;
}

#header nav:nth-of-type(1) button {
  background: linear-gradient(0deg, var(--bgButtonColor), transparent);

  background-position: bottom;
  background-size: 100% 0%;
  background-repeat: no-repeat;

  padding-inline: 1rem;

  height: 100%;

  transition: 0.5s;
}
#header nav:nth-of-type(1) button:hover {
  background-size: 100% 50%;
}

#header nav:nth-of-type(2) button {
  padding: 1rem 0.5rem;

  height: max-content;

  border-radius: 9999rem;
}

#header #login {
  padding: 0.125rem 1rem;

  border: 0.125rem solid transparent;

  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(var(--buttonColor1), var(--buttonColor2)) border-box;
}
#header #signon {
  padding: 0.5rem 1rem;

  background: linear-gradient(var(--buttonColor1), var(--buttonColor2));
  color: white;
}
#header #menu {
  display: none;

  width: 2.5rem;
  height: 2.5rem;

  background: linear-gradient(var(--buttonColor1), var(--buttonColor2));
}
#header #menu i {
  color: white;
}
@media (max-width: 38rem) {
  #header #signon {
    display: none;
  }
  #header #menu {
    display: flex;
  }
}
@media (max-width: 28rem) {
  #header #login {
    display: none;
  }
}
@media (max-width: 24rem) {
  #header #start {
    display: none;
  }
}
@media (max-width: 16rem) {
  #header #content {
    display: none;
  }
}
@media (max-width: 8rem) {
  #header #logo {
    display: none;
  }
}