#iconList {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 25rem;

  position: fixed;
  top: 50%;
  left: 50%;

  border-radius: 0.5rem;
  background-color: rgb(214, 214, 214);

  scale: 0;
  translate: -50% -50%;

  animation: spawnList 1s ease forwards;
}
@keyframes spawnList {
  to {
    scale: 1;
  }
}
#iconList div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;

  width: 95%;
  height: 95%;

  overflow-x: hidden;
  overflow-y: scroll;
}
#iconList div::-webkit-scrollbar {
  width: 1rem;
}
#iconList div::-webkit-scrollbar-thumb {
  border-radius: 9999rem;
  border: 0.25rem solid transparent;

  background: rgb(145, 145, 145);
  background-clip: content-box;
}
#iconList div::-webkit-scrollbar-track {
  background: none;
}
#iconList button {
  font-size: 250%;
}
#iconListExitButton {
  width: max-content;
  height: max-content;

  position: absolute;
  top: 0;
  left: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 999rem;
  transform-origin: center;
  translate: -40% -40%;

  font-size: 2rem !important;
}
#iconListExitButton i {
  color: white;
}
