#sideMenus {
  z-index: 100;

  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: absolute;
  top: 0%;
  left: 100%;
  width: 12rem;
  height: 100%;
  padding-block: 2.5rem;

  border-left: solid 0.125rem transparent;
  background:
    linear-gradient(
        rgb(244, 244, 244),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(244, 244, 244)
      )
      padding-box,
    linear-gradient(
        0deg,
        var(--mainColor1),
        var(--mainColor2),
        var(--mainColor1)
      )
      border-box;

  transition: 0.75s ease;
}
#sideMenus button {
  display: none;
  justify-content: flex-start;

  width: 11rem;
  height: 2rem;
  padding-inline: 1rem;

  border-radius: 9999rem;

  font-weight: bold;
  font-size: 1rem;
}
#sideMenus button i {
  color: inherit;
}
#sideMenus span {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  color: inherit;
}

/*Show/Hide buttons and sideMenu at header.css*/